/*img {
    float: left;
    height: 35px;
    width: 100px;
    margin-top: 10px;
}

h1.block2 {
    color: #404040;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 100%;
    display: flex;
}*/
